@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@500&family=Gabarito&display=swap");

:root {
  --primary-theme-color: crimson;
}

button {
  background-color: transparent;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#root {
  display: flex;
  justify-content: center;
  background-color: white;
  max-width: 1000px;
  min-height: 100vh;
}

#root > main {
  min-width: 300px;
}

#root > main > header {
  display: grid;
  grid-template-columns: 1fr repeat(2, auto);
  gap: 8px;
  padding-right: 8px;
  align-items: center;
}

#root > main > header > h1 {
  font-family: "Cairo Play", sans-serif;
}

#root > main > header > button {
  height: min-content;
}

.file-btn {
  position: relative;
  left: 50%;
  margin-top: 30vh;
  height: 70px;
  width: 70px;
  transform: translateX(-50%);
  padding: 0;
}

.file-btn label {
  display: block;
  height: 100%;
}

.file-btn svg {
  width: 100% !important;
  height: 100% !important;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-wh {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.bare-btn {
  border: 0;
  padding: 0;
}

.bordered {
  border: 1px solid black;
}

.border-top {
  border-top: 1px solid black;
}

.padded-16 {
  padding: 16px;
}

.hover-1:hover {
  scale: 1.1;
  color: crimson;
}

.page-controls {
  display: grid;
}

/* FileList */

.table-con {
  display: flex;
  flex-direction: column;
  font-family: "Gabarito", cursive;
}

.table-con > button {
}

.table-con > header {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-items: center;
}

.table-con > header > div {
  display: flex;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

th:nth-child(1),
th:nth-child(3),
table td:nth-child(1) {
  text-align: center;
}

table tr svg,
table th svg {
  width: 15px;
  margin-left: auto;
  margin-right: auto;
}

thead {
  background-color: var(--primary-theme-color);
  color: white;
  text-align: left;
  border: 1px solid black;
  letter-spacing: 1px;
}

tbody {
  font-size: 12px;
}

tr:not(:last-child) {
  border-bottom: 1px solid grey;
}

tbody tr:hover {
  background-color: silver;
}

table colgroup :nth-child(1) {
  width: 50px;
}

td,
th {
  padding: 2px 8px;
}
