@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@500&display=swap");

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root > main {
  min-width: 300px;
}

#root {
  width: 100%;
  min-height: 100vh;
}

header {
  display: grid;
  grid-template-columns: 1fr repeat(2, auto);
}

header > h1 {
  font-family: "Cairo Play", sans-serif;
}

.file-btn {
  padding: 0;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-wh {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.bare-btn {
  border: 0;
  padding: 0;
}

.bordered {
  border: 1px solid black;
}

.border-top {
  border-top: 1px solid black;
}

.padded-24 {
  padding: 24px;
}

.hover-1:hover {
  scale: 1.1;
  color: crimson;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid;
}
